AndroidManifest.xml
build.xml
project.properties
res/values/strings.xml
src/com/AssetManagementAndroidTestApp/AssetManagementAndroidTestApp.java
assets/test_data/AssetPacker/Test.AssetPacker.cpp
assets/test_data/AssetPacker/Assets/DeathKnight_Unity.fbx
assets/test_data/AssetPacker/Assets/DeathKnight_Unity.fbx.meta
assets/test_data/AssetPacker/Assets/HelloWorld.txt
assets/test_data/AssetPacker/Assets/HelloWorld.txt.meta
assets/test_data/AssetPacker/Assets/subdir/DeathKnightSword1_Icon.png
assets/test_data/AssetPacker/Assets/subdir/DeathKnightSword1_Icon.png.meta
assets/test_data/AssetPacker/Assets/subdir/DeathKnight_Sword1.fbx
assets/test_data/AssetPacker/Assets/subdir/DeathKnight_Sword1.fbx.meta
assets/test_data/AssetPacker/Assets_Packed/353d9ad8-9aa7-4a3d-98a3-6574842ed6a3
assets/test_data/AssetPacker/Assets_Packed/5d59b856-2e12-4aad-9499-e880c56d36b7
assets/test_data/ResourceLoader/empty.txt
assets/test_data/ResourceLoader/resource.txt
