<#@ include file = "..\..\..\Templates\DataClass.tt"
#><#@ output extension = "/" #><# 
	const string dataType = "Attack"; 
	Field[] fields = {
		new Field("float", "damageMultiplier", false), 
	    new Field("AttackDamageType", "damageType", false), 
	    new Field("int", "minDamage", false, new List<string>{"ShowIf(\"ShowDamageRanges\")"}), 
	    new Field("int", "maxDamage", false, new List<string>{"ShowIf(\"ShowDamageRanges\")"}), 
	};
    var dataClass = new DataClass(dataType, fields);
    Generate(dataClass);
#>