test_data/AssetPacker/Test.AssetPacker.cpp
test_data/AssetPacker/Assets/DeathKnight_Unity.fbx
test_data/AssetPacker/Assets/DeathKnight_Unity.fbx.meta
test_data/AssetPacker/Assets/HelloWorld.txt
test_data/AssetPacker/Assets/HelloWorld.txt.meta
test_data/AssetPacker/Assets/subdir/DeathKnightSword1_Icon.png
test_data/AssetPacker/Assets/subdir/DeathKnightSword1_Icon.png.meta
test_data/AssetPacker/Assets/subdir/DeathKnight_Sword1.fbx
test_data/AssetPacker/Assets/subdir/DeathKnight_Sword1.fbx.meta
test_data/AssetPacker/Assets_Packed/353d9ad8-9aa7-4a3d-98a3-6574842ed6a3
test_data/AssetPacker/Assets_Packed/5d59b856-2e12-4aad-9499-e880c56d36b7
test_data/ResourceLoader/empty.txt
test_data/ResourceLoader/resource.txt
